@using AdvocatApp.BL.Authorization.DTO
@model AdminDTO
@{
    ViewBag.Title = "О нас";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div id="pageTextVideo" class="col-sm-12 pageHead">
        <div class="pages">
            <h4>О нас</h4>
            <hr />
            <p>
                <input class="textSt" type="hidden" value="@Model.AboutMe" />
                <div class="textSite"></div>
             </p>
            <hr />
        </div>
        <p>
            @Html.ActionLink("Редактировать", "EditAbout")
        </p>
    </div>
</div>
@section scripts{
    <script src='@Url.Content("~/Scripts/PageScript.js")'>
    </script>
}