@using AdvocatApp.Models
@model PageModel
@{
    ViewBag.Title = "AddPage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>AddPage</h2>

@Html.BeginForm("AddPage","Admin",FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <br />
    <h4>Добавление новой статьи</h4>
    @Html.EditorForModel()
    <br/>
    <input type="submit"  class="btn btn-default" value="Отправить" />
}
