@model AdvocatApp.BL.DTO.QuestionDTO
@{
    ViewBag.Title = "DeleteQ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DeleteP</h2>

@Html.DisplayForModel()
<br />
@Html.BeginForm()
{
<input type="submit" value="delete" />
}


