@model AdvocatApp.BL.DTO.PageDTO
@{
    ViewBag.Title = "Удаление статьи";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Удаление страницы</h4>

<p>
    <h5>@Model.Header</h5>
</p>
    <br />
    @using (Html.BeginForm())
    {
    <input type="submit" value="Подтвердить удаление" />
    }


