@model AdvocatApp.Models.QuestionModel
@{
    ViewBag.Title = "EditQuestion";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>EditQuestion</h2>

@Html.BeginForm("EditQuestion", "Admin", FormMethod.Post)
{
@Html.EditorForModel()
<br />
<input type="submit" value="Send" />
}
