@model AdvocatApp.Models.ChangeAboutModel
@{
    ViewBag.Title = "EditAbout";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>EditAbout</h2>

@Html.BeginForm("EditAbout","Account",FormMethod.Post)
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <br />
    @Html.EditorForModel()
    <input type="submit" value="send" />
}
