
@{
    ViewBag.Title = "Gide";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Руководство по использованию сайта</h2>

<ol>
    <li>
        <h3>Содержание</h3>
        <p>
            <ul>
                <li><a href="#auth">Авторизация администратора</a></li>
                <li><a href="#authChange">Изменение пароля и email</a></li>
                <li><a href="#aboutChange">Изменение страницы "О вас"</a></li>
                <li><a href="#ContactsChange">Изменение страницы "Контакты"</a></li>
                <li><a href="#maps">Добавление и изменение карт в "Контакты"</a></li>
                <li><a href="#editPrice">Редактирование "Цены на услуги"</a></li>
                <li><a href="#addStaties">Добавление статей (услуг)</a></li>
                <li><a href="#editStaties">Редактирование статей (услуг)</a></li>
                <li><a href="#deleteStaties">Удаление статей (услуг)</a></li>
                <li><a href="#CRUDNews">Добавление, изменение, удаление новостей</a></li>
                <li><a href="#CRUDWarring">Добавление, изменение, удаление уведомлений</a></li>
                <li><a href="#aboutHtml">Приложение 1: Использование html-тегов в статьях, новостях, уведомлениях и т.д.</a></li>
                <li><a href="#aboutVideo">Приложение 2: Как добавлять ссылки на видео</a></li>
            </ul>
        </p>
    </li>
    <li>
        <h3 id="auth">Авторизация администратора</h3>
        <p>Для входа на сайт с администратора необходинмо:</p>
        <p><ol>
            <li>Зайти на главную страницу</li>
            <li>Добавить в адресную строку браузера <b>/Admin</b>. Пример итоговой строки:<br /><br />
                <img src="~/Content/Images/Gide/authURL.PNG" alt="localhost:8412/Admin"/><br/><br /></li>
            <li>После этого вы будете:
            <ul>
                <li>Направлены на страницу авторизации, где вы должны ввести логин и пароль (базовый логин: admin, пароль: 12345), а также код с картинки</li>
                <li>Если вы уже авторизованы, то попадете на страницу администратирования сайта</li>
            </ul>
            </li>
        </ol></p>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
    <li>
        <h3 id="authChange">Изменение пароля и email</h3>
        <p>Для изменения email и пароля необхожимо:</p>
        <p>
            <ol>
                <li>Зайти на страницу администрирования (как это сделать <a href="#auth">см. выше</a>)</li>
                <li>Выбрать в верхней навигационной панели <b>"Изменить пароль и email"</b></li>
                <li>Изменить email или пароль.<br /><h6>Заметьте, что для изменения email придется ввести пароль все-равно (чтобы пароль не изменился, введите старый пароль)</h6></li>
            </ol>
        </p>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
    <li>
        <h3 id="aboutChange">Изменение страницы "О вас"</h3>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
    <li>
        <h3 id="ContactsChange">Изменение страницы "Контакты"</h3>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
    <li>
        <h3 id="maps">Добавление и изменение карт в "Контакты"</h3>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
    <li>
        <h3 id="editPrice">Редактирование "Цены на услуги"</h3>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
    <li>
        <h3 id="addStaties">Добавление статей (услуг)</h3>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
    <li>
        <h3 id="editStaties">Редактирование статей (услуг)</h3>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
    <li>
        <h3 id="deleteStaties">Удаление статей (услуг)</h3>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
    <li>
        <h3 id="CRUDNews">Добавление, изменение, удаление новостей</h3>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
    <li>
        <h3 id="CRUDWarring">Добавление, изменение, удаление уведомлений</h3>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
    <li>
        <h3 id="aboutHtml">Приложение 1: Использование html-тегов в статьях, новостях, уведомлениях и т.д.</h3>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
    <li>
        <h3 id="aboutVideo">Приложение 2: Как добавлять ссылки на видео</h3>
        <hr />
        <p class="linksPage">
            <a href="#header1">К содержанию</a>
        </p>
    </li>
</ol>