
@{
    ViewBag.Title = "Gide";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Руководство по использованию сайта</h2>

<ol>
    <li>
        <h3>Содержание</h3>
        <p>
            <a href="#auth">Авторизация администратора и изменение данных для входа на сайт</a>
        </p>
    </li>
    <li>
        <h3 id="auth">Авторизация администратора и изменение данных для входа на сайт</h3>
    </li>
</ol>