@model AdvocatApp.BL.Authorization.DTO.AdminDTO

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "IndexAdmin";
}

<h2>IndexAdmin</h2>
<p>Hello @Model.Name</p>
<p>@Html.ActionLink("Add page","AddPage")</p>
@Html.ActionLink("LOgOut","Logout")

