@using AdvocatApp.BL.DTO
@model PageDTO
@{
    ViewBag.Title = "Page";
}

<h2>Page</h2>

<h3>@Model.Header</h3>

<input id="textSt" type="hidden" value="@Model.Text" />
<p id="textSite">
    Заменить скрипторм
    @Model.Text
</p>

<iframe width="560" height="315" src="@Model.VideoURL" frameborder="0" allowfullscreen></iframe>
