@using AdvocatApp.BL.DTO
@model IEnumerable<PageDTO>

<table id="pageTable">
    <thead>
        <tr>
            <th>Pages</th>
        </tr>
    </thead>
    <tbody>
        @foreach(PageDTO page in Model)
        {
            <tr>
                <td>@page.Header</td>
                <td>@page.Date.Date</td>
                <td><a href="/Admin/Page/@page.Id">Go to</a></td>
            </tr>
        }
    </tbody>
</table>