@using AdvocatApp.BL.DTO
@model PageDTO
@{
    ViewBag.Title = "Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Page</h2>

<h3>@Model.Header</h3>

<input class="textSt" type="hidden" value="@Model.Text" />
<div class="textSite">
</div>

@if (Model.VideoURL!=null && (Model.Type == AdvocatApp.DAL.Entities.TypePage.Statie || Model.Type == AdvocatApp.DAL.Entities.TypePage.VideoStatie))
{
    if (Model.VideoURL != "")
    {
        <iframe width="560" height="315" src="@Model.VideoURL" frameborder="0" allowfullscreen></iframe>
    }
}

@section scripts{
<script src='@Url.Content("~/Scripts/PageScript.js")'>
</script>    
}