@using AdvocatApp.BL.DTO
@model IEnumerable<PageDTO>

<div id="myPartners">
    <h2>Равноправные партнеры компании</h2>

    <p>
        <ul class="myPartnersUl">
            @foreach (PageDTO page in Model)
            {
                <li>
                    @page.Header
                    <p>
                        @Html.ActionLink("See", "Page/" + page.Id.ToString())|
                        @Html.ActionLink("Edit", "EditPage/" + page.Id.ToString())|
                        @Html.ActionLink("Delete", "DeleteP/" + page.Id.ToString())
                    </p>
                </li>
            }
        </ul>
    </p>
</div>
