@using AdvocatApp.BL.DTO
@model IEnumerable<QuestionDTO>

<ul id="questionList">
    @foreach (QuestionDTO question in Model)
    {
        <li id="quest">
            <ul>
                <li>@question.Ask</li>
                <li>@question.Resp</li>
            </ul>
        </li>
    }
</ul>