@model int
<h4>Объявления и уведомления</h4>

<p class="wPage">
    <div class="pages warringPages" style="display:none;">
        <h5></h5>
        <input class="textSt" type="hidden" />
        <div class="textSite">
        </div>

        <br />
        <p class="dateOfCreating"> </p>

    <p class="linksWar">
    @Html.ActionLink("Редактировать", "#") |
    @Html.ActionLink("Удалить", "#")
    </p>
</div>

</p>
<div class="btn-toolbar">
    @for (int i = 1; i <= Model; i += 10)
    {
        <div class="btn-group">
            <button class="btn warSelectBut">@((i-i%10)/10+1)</button>
        </div>
    }
</div>