<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Администратирование  @ViewBag.Title</title>
</head>
<body>
    <div id="admin-content">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    @RenderSection("scripts",required: false)
</body>
</html>
