<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Администратирование  @ViewBag.Title</title>
</head>
<body>
    <div id="admin-content">
        @RenderBody()
    </div>
</body>
</html>
