@model AdvocatApp.BL.Authorization.DTO.AdminDTO
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>@Model.Address</p>
@if(Model.AboutMe!=""&&Model.AboutMe!=null)
{
    <p>About</p>
}
else
{
    <p>About - clear</p>
}

